:root {
	--lcr-gap: 5px;
}

.local_classreport_filter_wrapper {
	padding: .5rem 1rem;
	background-color: #f4f4f4;
	margin-bottom: .5rem;
}
.local_classreport_table_wrapper {
	width: 100%;
	overflow:auto;
}

.local_classreport_table_wrapper table {
	border-collapse: separate;
	border-spacing: 1px;
	width: 100%;
	/* can't do this and have sticky cells
	overflow:hidden; */
}

.local_classreport_scroll_wrapper {
	overflow: auto;
}

.local_classreport_table_wrapper table .sticky-column {
	left: 0;
	position: sticky;
	border-right: rgba(0,0,0,.2);
	z-index:2;
}

.local_classreport_table_wrapper table .sticky-row-0 {
	top: 0;
	position: sticky;
	z-index:3;
	vertical-align: top;
}

.local_classreport_table_wrapper table .sticky-row-1 {
	top: 53px;
	position: sticky;
	z-index:4;
}

.local_classreport_table_wrapper table thead .small {
	color: inherit;
	font-size: 0.7rem;
}

.local_classreport_table_wrapper table tbody {
	vertical-align: middle;
	text-align: center;
}

/*.local_classreport_table_wrapper table tbody tr:nth-of-type(even) {
	background-color: #f4f4f4;
}
*/
.local_classreport_table_wrapper table th {
	padding: .3rem .7rem;
}

.local_classreport_table_wrapper table tbody th {
	text-align:left;
	min-width: 13rem;
}

/* can't do this and have sticky cells
.local_classreport_table_wrapper table tbody td {
	position: relative;
}

.local_classreport_table_wrapper table tbody td:hover::after {
	background-color: rgba(255,255,255,.05);
	content: "";
	position:absolute;
	left:0;
	top:-5000px;
	height:10000px;
	width:100%;
	z-index:1;
}
*/

.local_classreport_table_wrapper table tbody .state-0 {
	background-color: rgba(128,0,0,.1);
	color: rgba(128,0,0,.15);
}
.local_classreport_table_wrapper table tbody .state-1 {
	background-color: rgba(0,128,0,.25);
	color: rgba(0,128,0,.15);
}

.local_classreport_table_wrapper table thead th[class*='category-'] a,
.local_classreport_table_wrapper table tbody th[class*='group-'] a {
	color: inherit;
}

.local_classreport_table_wrapper table tr.coursenames th:not(:first-of-type),
.local_classreport_table_wrapper table .first:not(:first-of-type) {
	border-left: var(--lcr-gap) solid white;
}
.local_classreport_table_wrapper table tr.modulenames th:nth-of-type(2) {
	border-left:none;
}

.local_classreport_table_wrapper table thead tr.modulenames th {
	line-height:1rem;
	padding: .2rem .5rem;
	font-weight: normal;
}
.local_classreport_table_wrapper table thead tr.modulenames th:first-of-type {
	vertical-align: bottom;
	font-weight: bold;
}
